:root{
    --verde-escuro: #297849;
    --verde-claro: #99c84c;
}

* {
    padding: 0pc;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    margin-top: 30px;
}

.mainPage{
    width: 100vw;
    height: 100vh;
    background-color: #fdfdfd;
    box-shadow: 0px 2px 4px rgba(41,120,73,0.7);
    display: flexbox;
    justify-content: space-between;
}

.logo{
    width: 100%;
}
.agendLogo{
    width: 20%;
    height: 40%;
}